@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #151b25;
    position: relative;
}

.main-container .alert{
    text-align: center;
    position: fixed;
    left: 50px;
    right: 50px;
    margin: 10px 20px;
   font-size: 20px;
   z-index: 3;
   background-color: orangered;
   border: none;
   color: white;
}


.logo{
    font-size: 35px;
}

.navigation{
    background-color: transparent;
    width: 20%;
    position: fixed;
    height: 100%;
    /* overflow: hidden; */
    margin-left: 5%;
}

.empty-space{
    position: absolute;
    left: 100;
    background-color: #151b25;
    height: 100%;
    /* overflow: hidden; */
    border-right: 1px solid rgba(107, 107, 107, 0.774);
}

.navbar{
    margin-top: 100px;
}

.navbar a{
    text-decoration: none;
    font-size: 20px;
}

.navbar li{
    margin: 5px -17px;
    padding: 10px 20px;
    border-left:1px solid transparent;
}

.navbar li:hover{
    border-left:1px solid #E71D36;
    transition: 0.3s ease;
}

.nav-social-link a{
    margin-right: 5px;
    padding: 10px 15px;
    border: 1px solid transparent;
}

.main-nav-container .nav-social-link{
    position: absolute;
    display: inline-flex;
    bottom: 20px;
}

.nav-social-link a:hover{
    border: 1px solid white;
}

.menu-toggle{
    display: none;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #151b25;
    cursor: pointer;
    z-index: 3;
}

.hamburger{
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    transition: .25s;
}

.hamburger > span::before{
    content: '';
    top: -8px;
}
.hamburger > span::after{
    content: '';
    top: 8px;
}

.menu-toggle.is-active .hamburger > span{
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger > span::before{
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger > span::after{
    top: 0;
    transform: rotate(90deg);
}

/* --------------main body of website starts here----------------- */

.main{
    margin-left: 25%;
}

.main-container{
    position: relative;
    background-color: rgba(255, 255, 255, 0.192);
    padding: 2%;
}

.hero-box{
    display: flex;
}

.hero-info{
    width: 500px;
    margin-top: 60px;
    
}

.hero-box .hero-img{
    width: 600px;
    background-image: url("../static/images/hero\ image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

/* hero ends */

.call-to-action{
    display: flex;
    text-align: center;
}

.call-to-action a{
    width: 50%;
    border: none;
    padding: 15px 0px;
}

.call-to-action .btn-1{
    background-color: #E71D36;
    color: white;
}

.call-to-action .btn-2{
    background-color: #151b25;
    color: white;
}

/* call to action ends here */

#about p{
    text-align: justify;
    color: rgb(97, 97, 97);
    font-size: 18px;
}

/* about ends here */

.hobbies-icon{
    display: flex;
    text-align: center;
    background-color: #E71D36;
    justify-content: center;
}

.hobbies-icon-box{
    color: white;
    border-right: 1px solid white;
    width: 25%;
    padding-top: 40px;
    padding-bottom: 30px;
}

.hobbies-icon-box i{
    font-size: 40px;
    margin-bottom: 20px;
}

/* hobbies end here */

.projects-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
}

.project-item{
    width: 49%;
    height: 400px;
    margin-bottom: 2%;
    position: relative;
    overflow: hidden;
}


.proj-it{
    padding: 20px 20px 20px 0px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);  
}

.proj-it .project-slide{
    background-color: #151b25ec;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding-left: 30px;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.proj-it .project-slide p{
    font-size: 14px;
}

.proj-tech h4{
    font-size: 16px;
}

.proj-tech ul{
    font-size: 10px;
    display: flex;
    gap: 20px;
    padding: 0px;
    list-style: none;
}

.proj-tech i{
    color: orangered;
    margin-right: 3px;
}

.proj-btn{
    display: flex;
}

.proj-btn .proj-btn-1,
.proj-btn .proj-btn-2{
    padding: 5px 10px;
    border: 1px solid transparent;
    margin: 0px 3px;
    font-size: 14px;
    background-color: orangered;
    color: white;
}

#projects .proj-show-more-btn{
    padding: 15px 0px;
    width: 100%;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #151b25;
    text-align: center;
    color: #151b25;
    text-align: center;
}

#projects .proj-show-more-btn:hover{
    background-color: #151b25;
    color: white;
    
}

.skills-list-box{  
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.skills-list ul{
    padding-left: 10px;
}

.skills-list-box .skills-list{
    padding: 40px 40px;
    width: 23%;
    background-color: #151b25;
    border-radius: 10px;
    margin-bottom: 2%;
}

.skills-list .skills-list-icon{
   font-size: 80px;
   text-align: center;
   display: flex;
   justify-content: center;
   padding-bottom: 20px;
}

/* education section starts */

.education-box{
    display: flex;
    flex-wrap: wrap;
}

.education-item{
    position: relative;
    padding-left: 40px;
    width: 50%;
    margin-bottom: 20px;
}

.education-item h1{
    position: absolute;
    left: 0;
    margin-top: -65px;
    font-size: 90px;
    color: #E71D36;
}

/* Contact section */

.contact-box{
    display: flex;
    gap: 50px;
}

.contact-form{
    width: 50%;
}

.contact-form .message{
    resize: none;
    height: 150px;
}

.contact-form .btn{
    border-radius: 0%;
    padding: 10px 15px;
    width: 100%;
}
.contact-box .contact-info{
    width: 50%;
    color: white;
    height: 100%;
    background-image: url("../static/images/static\ prof\ pics.jpg");
}

.contact-gradient{
    background-color: #151b25c7;
    height: 100%;
    padding: 60px;
}

.copyright p{
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 0;
    color: #151b25;
}



@media screen and (max-width: 920px),
screen and (max-height: 800px){
    #about p{
        font-size: 16px;
    }
    
    .education-box{
        display: flex;
        
    }

    .education-item{ 
        width: 50%;
    }
    .education-item p{
        color: rgb(97, 97, 97);
        font-size: 16px;
    }
    
    .education-item h3{
        font-size: 18px;
    }
    
    .education-item h4{
        font-size: 16px;
    }
 
    
    .project-item{
        width: 100%;
        height: 400px;
    }
    
    #projects .proj-show-more-btn{
        padding: 10px 0px;
        font-size: 15px;
    }

    .contact-box{
        display: block;
    }

    .contact-form{
        width: 100%;
    }

    .contact-box .contact-info{
        width: 100%;
        margin-top: 40px;
    }

    .skills-list-box{  
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    
    .skills-list ul{
        padding-left: 10px;
    }
    
    .skills-list-box .skills-list{
        padding: 40px 40px;
        width: 48%;
        background-color: #151b25;
        border-radius: 10px;
        margin-bottom: 2%;
    }

    .skills-list .skills-list-icon{
       font-size: 80px;
       text-align: center;
       display: flex;
       justify-content: center;
       padding-bottom: 20px;
    }

    .hobbies-icon{
        display: block;
    }
    
    .hobbies-icon-box{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 15px;
        border-top: 1px solid white;
    }

    .logo{
        font-size: 25px;
    }
    
    .navbar{
        margin-top: 0px;
    }
    
    .navbar a{
        font-size: 18px;
    }
    
    .navbar li{
        margin: 0px -17px;
        padding: 4px 20px;
    }
    
    
    .main-nav-container .nav-social-link{
        bottom: 5px;
    }
}

@media screen and (max-width: 768px){
    .alert{
       font-size: 8px;
    }

    .logo{
        font-size: 25px;
    }
    .navbar a{
        font-size: 15px;
    }
    
    .nav-social-link a{
        font-size: 12px;
        padding: 5px 10px;
    }
    
    .hero-box{
        display: block;
        
    }
    
    .hero-info{
        width: 100%;
        margin-top: 20px;
        padding-left: 25px;
    }
    
    .hero-box .hero-img{
        width: 100%;
        height: 350px;
        background-position: 50px 0px;
    }
/* hero ends here */

.education-item{
    width: 100%;
    margin-bottom: 30px;
    padding-left: 30px;
}

.education-item p{
    color: rgb(97, 97, 97);
    font-size: 16px;
}

.education-item h3{
    font-size: 18px;
}

.education-item h4{
    font-size: 14px;
}

.education-item h1{
    margin-top: -32px;
    font-size: 50px;
    color: #E71D36;
}

/* education ends here */

.proj-tech ul{
    font-size: 10px;
    display: inline-block;
    gap: 5px;
}

.proj-tech i{
    color: orangered;
    margin-right: 3px;
}

    .skills-list-box .skills-list{
    width: 100%;
    }
    
    .skills-list-box h3{
        font-size: 18px;
    }

    .skills-list-box li{
        font-size: 12px;
    }
/* skill ends here */

    .contact-gradient{
    padding: 40px;
}

    .main{
        position: relative;
        display: block;
        margin-left: 0%;
        z-index: 0; 
    }

    .navigation {
        background-color: #151b25;
        width: 40%;
        margin-left: 0%;
        left: -50%;
        transition: .5s ease-out;
        z-index: 20;
    }

    .navigation.is-active{
        left: 0%;
    }
    
    .empty-space{
        display: none;
    }

    .main-container{
        padding-top: 0px;
        position: absolute;
       
    }
    .menu-toggle{
        display: block;
    }

    .copyright p{
        font-size: 14px;
    }
}

@media screen and (max-height: 450px){
    .navbar a{
        font-size: 15px;
    }

    .main-nav-container .nav-social-link{
        bottom: -5px;
    }
}
